@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;700;800;900&display=swap');

:root {
    --primary-color: white;
    --secondary-color: #ff214f;
    --grey-text: #777;
    --background-color: #343a40;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Golos Text', sans-serif;
    color: var(--primary-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    max-width: 95%;
    margin: auto;
}

.special_heading {
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 400;
}

/*********************** Start NavBar ************************************/

header {
    background-image: url(../imgs/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    /* height: 100vh; */
    position: relative;
}

header .content {
    z-index: 9999;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--background-color);
    opacity: .8;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

header nav>* {
    width: calc(100% / 3);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 700;
}

header nav ul li a {
    color: var(--primary-color);
    text-transform: capitalize;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

header nav ul li a.active {
    color: var(--secondary-color);
}

header nav .logo img {
    width: 150px;
    margin: auto;
}

header nav ul button {
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

header nav .components select {
    font-size: 1.2rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    outline: none;
    display: none;
}

header nav .components select option {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
}

header .content .our_moto {
    padding-top: 150px;
    padding-bottom: 300px;
}

header .content .our_moto h1 {
    font-size: 6rem;
}

header .content .our_moto p {
    font-size: 4rem;
    margin-top: 10px;
}

header .content .our_moto button {
    font-size: 1.8rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

/*********************** End NavBar ************************************/
/*********************** Start About ************************************/

.about {
    background-color: var(--background-color);
    padding-bottom: 80px;
}

.about .content {
    display: flex;
    flex-wrap: wrap;
}

.about .content .food img {
    max-width: 100%;
}

.about .content .info {
    padding-top: 150px;
    max-width: 40%;
    margin-left: 150px;
}

.about .content .info h2 {
    font-size: 3rem;
}

.about .content .info p,
.about .content .info span {
    font-size: 1.4rem;
    line-height: 1.6;
}

.about .content .info span {
    font-weight: 800;
}

/*********************** End About ************************************/
/*********************** Start Menu ************************************/

.menu {
    background-color: var(--background-color);
    text-align: center;
    padding-top: 50px;
}

.menu h1 {
    padding-bottom: 130px;
}

.menu .variety {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu .variety>* {
    width: calc(90% / 4);
}

.menu .variety img {
    padding-bottom: 15px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}

.menu .variety img:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/*********************** End Menu ************************************/
/*********************** Start Reservation ************************************/

.reservation {
    text-align: center;
    background-image: url(../imgs/book-table-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    padding-bottom: 100px;
}

.reservation .content {
    position: relative;
    padding-top: 130px;
}

.reservation::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--background-color);
    opacity: 0.8;
}

.reservation h1 {
    padding-bottom: 60px;
}

.reservation form .main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reservation form .main>* {
    width: calc(90% / 4);
}

.reservation form input {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    font-size: 1.5rem;
    padding: 15px 20px;
    margin-bottom: 25px;
}

.reservation form input[type="submit"] {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    margin-top: 80px;
}


/*********************** End Reservation ************************************/
/*********************** Start Events ************************************/

.events {
    background-color: var(--background-color);
    text-align: center;
    padding: 100px 0;
}

.events .links {
    margin-top: 70px;
}

.events .links a {
    color: var(--secondary-color);
    padding: 15px 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    font-size: 1.3rem;
}

.events .links a:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);

}

.events .links a.active {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin-right: 15px;
}

.events .main_dishes {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.events .main_dishes .card {
    width: calc(90% / 3);
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid var(--grey-text);
    margin-bottom: 20px;
}

.events .main_dishes .card .burger_image img {
    max-width: 100%;
}

.events .main_dishes .card .price {
    width: fit-content;
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 3rem;
    background-color: var(--secondary-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.events .main_dishes .card h3 {
    font-size: 2rem;
    margin-top: 20px;
}

.events .main_dishes .card p {
    line-height: 1.6;
    font-size: 1.3rem;
}

/*********************** End Events ************************************/
/*********************** Start Reviews ************************************/

.reviews {
    background-color: var(--background-color);
    text-align: center;
    padding-bottom: 70px;
}

.reviews h1 {
    margin-bottom: 70px;
}

.reviews .people_reviews {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.reviews .people_reviews>* {
    width: calc(90% / 3);
}

.reviews .people_reviews .review h2 {
    font-size: 2rem;
}

.reviews .people_reviews .review p {
    color: var(--grey-text);
    font-size: 1.1rem;
}

.reviews .people_reviews .review h2,
.reviews .people_reviews .review p {
    text-transform: capitalize;
}

.reviews .people_reviews .review .content {
    line-height: 1.6;
    font-size: 1.2rem;
    padding: 20px 20px;
    border: 1px solid var(--grey-text);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-top: 2px solid var(--secondary-color);
    margin-top: 30px;
    position: relative;
}

.reviews .people_reviews .review .content::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: -12px;
    left: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    background-color: var(--background-color);
    border: 1px solid var(--secondary-color);
    border-bottom: none;
    border-right: none;
}

/*********************** End Reviews ************************************/
/*********************** Start find_us ************************************/

.find_us {
    background-color: var(--background-color);
    border-top: 1px solid var(--grey-text);
    border-bottom: 1px solid var(--grey-text);
}

.find_us .content {
    display: flex;
}

.find_us .content .info {
    max-width: 40%;
    padding-top: 100px;
    text-align: left;
}

.find_us .content .info h2 {
    text-transform: uppercase;
    font-size: 2rem;
}

.find_us .content .info p {
    line-height: 1.6;
    font-size: 1.2rem;
}

.find_us .content .info .links {
    display: flex;
    flex-direction: column;
}

.find_us .content .info .links a {
    color: var(--grey-text);
    margin-left: 20px;
}

.find_us .content .info .links i {
    margin-bottom: 25px;
    color: var(--grey-text);
}

/*********************** End find_us ************************************/
/*********************** Start Contacts ************************************/

.contacts {
    background-color: var(--background-color);
    padding: 90px 0;
    border-bottom: 1px solid var(--grey-text);
}

.contacts .content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contacts .content > div {
    text-align: center;
}

.contacts .content > div h2 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 12px;
}

.contacts .content > div a {
    color: var(--grey-text);
}

/*********************** End Contacts ************************************/
/*********************** Start Footer ************************************/

footer {
    background-color: var(--background-color);
    text-align: center;
    padding: 30px 0;
}

footer .copyright {
    color: var(--grey-text);
}

footer .copyright i,
footer .copyright span {
    color: var(--secondary-color);
}

/*********************** End Footer ************************************/

/******************************* Media Queries *************************/

@media (max-width: 900px) {
    :root {
        font-size: 13px;
    }

    header nav .logo {
        order: 1;
    }

    header nav .logo img {
        width: 100px;
    }

    header nav .links {
        order: 2;
        display: block;
    }

    header nav .components {
        order: 3;
    }

    header nav .components li {
        display: none;
    }


    .menu .variety>* {
        width: calc(90% / 3);
    }


    .reservation form .main>* {
        width: calc(90% / 2);
    }

    header nav ul button {
        display: none;
    }

    header nav .components select {
        display: block;
    }


    .events .main_dishes .card {
        width: calc(90% / 2);
    }

    .reviews .people_reviews>* {
        width: calc(90% / 2);
    }

    .reviews .people_reviews .review {
        margin-bottom: 25px;
    }


    .find_us .content {
        flex-wrap: wrap;
    }

    .find_us .content .info {
        max-width: 100%;
        margin-left: 30px;
    }
}

@media (max-width: 750px) {
    :root {
        font-size: 10px;
    }

    .menu .variety>* {
        width: calc(90% / 2);
    }
}

@media (max-width: 550px) {
    :root {
        font-size: 8px;
    }

    .menu .variety>* {
        width: calc(90% / 1);
    }

    .reservation form .main>* {
        width: calc(90% / 1);
        margin: 0 auto 25px auto;
    }


    .events .main_dishes .card {
        width: calc(90% / 1);
    }

    .events .links {
        display: flex;
        flex-direction: column;
    }

    .events .links a {
        width: fit-content;
        margin: 0 auto 15px auto;
    }

    .events .links a.active {
        margin-right: auto;
    }

    .reviews .people_reviews>* {
        width: calc(90% / 1);
        margin: auto;
    }

    .find_us .content .mapouter {
        display: none;
    }

    .find_us .content .info {
        padding: 50px 0;
    }


    .contacts .content {
        flex-direction: column;
    }

    .contacts .content > div {
        margin-bottom: 40px;
    }
}

@media (max-width: 1501px) {

    .about .content .food {
        display: none;
    }

    .about .content .info {
        max-width: 90%;
        margin: auto;
    }
}